.btn {
    vertical-align: top;
}

@media (min-width: 50rem) {
    .main-header {
        height: 100px;
    }
}

.site-header {
    min-height: 100px;
}

.highlight ::selection {
    background-color: #a2b228;
}

div.highlighter-rouge>button,
div.listingblock>div.content>button,
figure.highlight>button {
    width:1rem;
    opacity:0.5;
}

.tabcontainer {
    border-radius: 3px;
    background-color: $code-background-color;
    box-shadow: 0 0 5px RGBa(0, 0, 0, 0.1);
}

.tab {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.25s ease;
    border-bottom: 2px solid $sidebar-color;
}

.tab button:hover {
    border-bottom: 2px solid $feedback-color;
    transition: 0.25s ease;
}

.tab button.active {
    border-bottom: 2px solid $btn-primary-color;
}

.tab button.download {
    background-color: $btn-primary-color;
    float: right;
}

.tabcontent {
    border-radius: 3px;
    display: none;
    padding: 6px 12px;
    border-top: none;
}