# See https://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# Dependencies
/node_modules
package-lock.json
yarn.lock

# Profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.history/*
/.vscode
.editorconfig

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Temporary files
doc/~*.docx
