---
layout: default
---

<h1 class="d-inline" id={{page.slug}}> {{page.title}} </h1>

<!-- Tab links -->
<div class="tabcontainer">
<div class="tab", id="script">
    <button class="tablinks" onclick="openTab(event, 'Visualization')" id="defaultOpen">Visualization</button>
{% for script in page.scripts %}
    <button class="tablinks" onclick="openTab(event, '{{ script[0] }}')">{{ script[0] }}</button>
{% endfor %}
</div>

<div class="line"></div>
<div id="Visualization" class="tabcontent">
{% highlight javascript %}
{% include_relative script.js %}
{% endhighlight %}
</div>

{% for script in page.scripts %}
{% assign file = script[1] %}
<!-- Tab content -->
<div id="{{ script[0] }}" class="tabcontent">
{% highlight javascript %}
{% include_relative {{ file }} %}
{% endhighlight %}
</div>
{% endfor %}

<button class="expand" onclick="expand(event)">Show full evalscript <span class="chevron bottom"></span></button>

</div>

{{content}}
