---
layout: default
---

<h1 class="d-inline" id="normalized-difference-vegetation-index">  {{page.title}} </h1>

{% assign paths = page.dir | remove_first: "/" | split: "/" | join: "-"%}
<p class="mt-lg-4">
    <button class="btn btn-primary" id="toggle-script" onclick="toggleScript()">Show Script</button> 
    <a href="{{ page.dir | append: 'script.js' }}" class="btn" target="_blank" download="{{paths | append: '.js'}}">Download Script</a>
</p>

<div id="script" style="display:none;"> 
{% highlight javascript %}
{% include_relative script.js %}
{% endhighlight %}
</div>

{{content}}
